{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.username }}{% endblock %}

{% block body %}
    <section class="profil">
        <h1>Profil</h1>
        <hr>
        <h2>Informations personnelles</h2>

        {{ form_start(form, {'attr': {'class': 'profil__form'}}) }}

            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.username) }}
            {{ form_row(form.question) }}
            {{ form_row(form.answer) }}
            {{ form_row(form.password) }}

            <button type="submit" class="">Mettre à jour</button>

            {% for message in app.flashes('edit_success') %}
                <p class="success">{{ message }}</p>
            {% endfor %}
            {% for message in app.flashes('edit_warning') %}
                <p class="error">{{ message }}</p>
            {% endfor %}

        {{ form_end(form) }}

        <hr>
        <h2>Modifier mon mot de passe</h2>

        {{ form_start(pwForm, {'attr': {'class': 'profil__form'}}) }}

            {{ form_row(pwForm.old_password) }}
            {{ form_row(pwForm.new_password) }}

            <button type="submit" class="">Mettre à jour</button>

            {% for message in app.flashes('pw_success') %}
                <p class="success">{{ message }}</p>
            {% endfor %}
            {% for message in app.flashes('pw_warning') %}
                <p class="error">{{ message }}</p>
            {% endfor %}

        {{ form_end(pwForm) }}

        <hr>
    </section>
    <aside class="profil__notes">
        <h3>Mes notes</h3>
    </aside>
    <aside class="profil__comments">
        <h3>Mes commentaires</h3>
        {% for comment in comments|reverse %}
            <div class="profil__partner__comment">
                <a href="{{ path('partner', { 'slug' : comment.partner.slug }) }}#comment_{{ comment.id }}">
                    <p><strong>Partenaire :</strong> {{ comment.partner }}</p>
                    <p><strong>Date :</strong> {{ comment.createdAt|date('d M Y à H:i:s') }}</p>
                    <hr>
                    <p><strong>Commentaire :</strong> {{ comment.comment }}</p>
                </a>
            </div>
        {% endfor %}
    </aside>
{% endblock %}
