{% extends 'base.html.twig' %}

{% block title %}Profil de {{ app.user.username }}{% endblock %}

{% block body %}
    <section class="profil">
        <h1>Mon profil</h1>

        {{ form_start(form, {'attr': {'class': 'profil__form'}}) }}

            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.username) }}

            <button type="submit" class="">Mettre à jour</button>

            {% for message in app.flashes('success') %}
                <p class="success">{{ message }}</p>
            {% endfor %}
            
        {{ form_end(form) }}

    </section>
{% endblock %}
