{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="home__gbaf">
        <h1>Bienvenue sur le site de la GBAF !</h1>
        <p>Le Groupement Banque Assurance Français (GBAF) est une fédération représentant les 6 grands groupes français :</p>
        <ul>
            <li>BNP Paribas</li>
            <li>BPCE</li>
            <li>Crédit Agricole</li>
            <li>Crédit Mutuel-CIC</li>
            <li>Société Générale</li>
            <li>La Banque Postale</li>
        </ul>
        <p>Même s’il existe une forte concurrence entre ces entités, elles vont toutes travailler de la même façon pour gérer près de 80 millions de comptes sur le territoire national.</p>
        <p>Le GBAF est le représentant de la profession bancaire et des assureurs sur tous les axes de la réglementation financière française. Sa mission est de promouvoir l'activité bancaire à l’échelle nationale. C’est aussi un interlocuteur privilégié des pouvoirs publics.</p>
    </section>

    <section class="home__partners">
        <h2>Liste des partenaires :</h2>
        {% for i, partner in partners %}
            <article>
                <img src="/uploads/{{ partner.logo }}" alt="{{ partner.partner }}">
                <h3>{{ partner.partner }}</h3>
                <hr>
                <div class="home__partners__description">{{ partner.description|raw }}</div>
                <div class="home__partners__links">
                    <div>{{ likes[i] }} <span class="fa-solid fa-thumbs-up"></span></div>
                    <div>{{ dislikes[i] }} <span class="fa-solid fa-thumbs-down"></span></div>
                    <p>{{ partner.comments|length }} commentaires</p>
                    <a href="{{ path('partner', { 'slug' : partner.slug }) }}">Lire la suite</a>
                </div>
            </article>
        {% endfor %}
    </section>
{% endblock %}
