{% extends 'base.html.twig' %}

{% block title %}{{ partner.partner }}{% endblock %}

{% block body %}
    <section class="home__partner">
            <article>
                <img src="/uploads/{{ partner.logo }}" alt="{{ partner.partner }}">
                <h3>{{ partner.partner }}</h3>
                <p>{{ partner.description|raw }}</p>
            </article>
            <aside>
                <div class="home__partner__links">
                    <p><span class="comment-count">{{ partner.comments|length }}</span> commentaires</p>
                    <p class="comment-btn">Nouveau commentaire</p>
                    <div class="partner_like" url="/partner/{{ partner.slug }}/note">2 <span class="fa-solid fa-thumbs-up" url="/partner/{{ partner.slug }}/note"></span></div>
                    <div class="partner_dislike" url="/partner/{{ partner.slug }}/note">1 <span class="fa-solid fa-thumbs-down" url="/partner/{{ partner.slug }}/note"></span></div>
                </div>
                <div class="home__partner__commentForm">
                    {{ form(commentForm, { 'attr':  { 'class': 'comment-form'}}) }}
                </div>
                <div class="comment-list">
                    {% for comment in partner.comments|reverse %}
                        {% include 'comment/index.html.twig' with [comment] %}
                    {% endfor %}
                </div>
            </aside>
    </section>
{% endblock %}
