{% extends 'base.html.twig' %}

{% block title %}{{ partner.partner }}{% endblock %}

{% block body %}
    <section class="home__partner">
            <article>
                <img src="/uploads/{{ partner.logo }}" alt="{{ partner.partner }}">
                <h3>{{ partner.partner }}</h3>
                <p>{{ partner.description|raw }}</p>
            </article>
            <aside>
                {{ form(commentForm) }}

                <div class="home__partner__links">
                    <p>{{ partner.comments|length }} commentaires</p>
                    <a href="">Nouveau commentaire</a>
                    <div>2 <span class="fa-solid fa-thumbs-up"></span></div>
                    <div>1 <span class="fa-solid fa-thumbs-down"></span></div>
                </div>

                <div class="home__partner__comment">
                    <p><strong>Prénom :</strong> John</p>
                    <p><strong>Date :</strong> 16 mai 2022 à 08h35</p>
                    <hr>
                    <p><strong>Commentaire :</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam maiores pariatur possimus. Eligendi, maxime pariatur.</p>
                </div>
                <div class="home__partner__comment">
                    <p><strong>Prénom :</strong> Pierre</p>
                    <p><strong>Date :</strong> 16 mai 2022 à 08h52</p>
                    <hr>
                    <p><strong>Commentaire :</strong> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam a possimus nisi temporibus corporis velit.</p>
                </div>
                <div class="home__partner__comment">
                    <p><strong>Prénom :</strong> Matthieu</p>
                    <p><strong>Date :</strong> 16 mai 2022 à 09h12</p>
                    <hr>
                    <p><strong>Commentaire :</strong> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita perspiciatis excepturi, cumque officiis velit natus!</p>
                </div>
            </aside>
    </section>
{% endblock %}
