<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %} - Extranet GBAF</title>
        
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}{% endblock %}

        <script src="https://kit.fontawesome.com/015d178d74.js" crossorigin="anonymous"></script>
        <script src="{{ asset('assets/js/app.js') }}" defer></script>
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        <header>
            <a href="{{ path('home') }}"><img src="{{ asset('assets/img/gbaf.png') }}" alt="Extranet GBAF"></a>
            {% if app.user %}
                <p>{{ app.user.lastname }} {{ app.user.firstname }}</p>
                <nav>
                    {% if app.user.roles[0] == 'ROLE_ADMIN' %}
                        <a href="{{ path('admin') }}">Administration du site</a>
                        <br>
                    {% endif %}
                    <a href="{{ path('profile') }}">Mon profil</a> -
                    <a href="{{ path('logout') }}">Se déconnecter</a>
                </nav>
            {% endif %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            <p>| Mentions légales | Contact |</p>
        </footer>
    </body>
</html>