<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>{% block title %}{% endblock %} - Extranet GBAF</title>
        
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        {% block stylesheets %}{% endblock %}

        <script src="{{ asset('assets/js/app.js') }}" defer></script>
        {% block javascripts %}{% endblock %}

    </head>
    <body>
        <header>
            {% if app.user %}
            {{ app.user.lastname }} {{ app.user.firstname }}
            <a href="{{ path('logout') }}">Se déconnecter</a>
            {% endif %}
        </header>
        <main>
            {% block body %}{% endblock %}
        </main>
        <footer>
            Ceci est le footer
        </footer>
    </body>
</html>